<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Microstream Trials</title>

    <!-- link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/-->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<!-- nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Mkyong.com</a>
</nav -->

<main role="main" class="container">
    <div class="starter-template">
        <h1>Migration (Modify data structure of an object)</h1>
        <span th:text="'# of Asset1: ' + ${assetRoot1.assetList.size()}"></span>
        <!--h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2-->
    </div>
    <!-- div th:if="${ not#lists.isEmpty(asset1list)}"-->
    <div>
        <table>
            <tr>
                <th>Asset 1</th>
            </tr>
            <tr th:each="asset : ${assetRoot1.assetList}">
                <td th:text="${asset.toJsonString()}"></td>
            </tr>
        </table>
    </div>
    <!--ol>
        <li th:each="task : ${tasks}" th:text="${task}"></li>
    </ol-->
</main>
<!-- /.container -->

<!-- script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script-->
</body>
</html>