<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Microstream Trials</title>

    <!-- link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/-->
    <link type="text/css" rel="stylesheet" href="/css/mystyles.css"/>
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icons">
</head>

<body>

<!-- nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Mkyong.com</a>
</nav -->

<main role="main" class="container">
    <div class="starter-template">
        <h4>Migration demo</h4>
        <table>
            <tr>
                <td>
                    <form action="/reset" method="post">
                        <input type="submit" value="Start clear with Instruments 1"/>
                    </form>
                </td>
                <td>
                    <form action="/migrate1_to_2" method="post">
                        <input type="submit" value="Migrate Instrument 1 --&gt; Instrument 2"/>
                    </form>
                </td>
            </tr>
        </table>
        <ul class="collection">
            <li class="collection-item card-panel red ligthen-3">Instrument2 and Instrumen1 with same property names, but different Object types [Cannot cast ...Instrument2Root to ...Instrument1Root]
            </li>
            <li class="collection-item card-panel red ligthen-3">Type change: field 'isin' String: -> Optional&lt;String&gt;
                [Cannot cast ...Instrument2Root to ...Instrument1Root]
            </li>
        </ul>
        <h5>Data structure</h5>
        <table>
            <tr>
                <th><span th:text="'# of Asset1: ' + ${instrument1Root.instrument1List.size()}"></span>
                </th>
            </tr>
            <tr th:each="instrument : ${instrument1Root.instrument1List}">
                <td>
                    <div th:each="line: ${instrument.toJsonLines()}">
                        <p th:text="${line}"/>
                    </div>
                </td>
            </tr>
        </table>
        <h5>Log</h5>
        <div th:each="message: ${messagesList}" class="code">
            <p th:text="${message}"/>
        </div>
    </div>
</main>
</body>
</html>